@import '../variables';

:local(.button) {
  border: 0;
  background-color: $color-blue;
  box-shadow:none;
  border-radius: 5px;
  font-size: 30px;
  height: 100px;
  width: 360px;
}

:local(.choiceButton) {
  position: absolute;
  top: 500px;
}

:local(.facePage) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.placeholder) {
  height: 500px;
  width: 500px;
  color: #0000fe;
}
