@import '../variables';

:local(.camContainer) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;
}

:local(.roundButton) {
  border: 10px;
  background-color: $color-green;
  box-shadow:none;
  border-radius: 5px;
  font-size: 30px;
  height: 100px;
  width: 360px;
}

:local(.imgContainer) {
  padding-top: 50px;
}