:local(.app) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

:local(.confirmationTop) {
  background-color: #232f3e;
  height: 85px;
}

:local(.amazonMusicLogo) {
  padding-left: 30px;
  padding-top: 26px;
}

:local(.signupButton) {
  height: 50px;
  padding: 50px 0 0 100px;
  width: 120px;
}