:local(.confirm) {
  margin-top: 10px;
  border: 0;
  background-color: #f4d078;
  box-shadow:none;
  border-radius: 2px;
  height: 30px;
  width: 120px;
}

:local(.eligibleInfo) {
  color: darkgreen;
  margin-left: 20vw;
}

:local(.ineligibleInfo) {
  color: rebeccapurple;
  margin-left: 20vw;
}

:local(.input) {
  font-size: 2em;
  font-weight: 300;
  margin-top: 10px;
}

:local(.label) {
  font-size: 1.2em;
  padding: 0;
  margin-bottom: 1em;
}

:local(.form) {
  max-width: 400px;
  margin: 20vw auto;
}

:local(.signup) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}